[submodule "Lib/SujaySarma.Data.Files.TokenLimitedFiles"]
	path = Lib/SujaySarma.Data.Files.TokenLimitedFiles
	url = ../SujaySarma.Data.Files.TokenLimitedFiles
[submodule "Lib/LoggingModule"]
	path = Lib/LoggingModule
	url = ../LoggingModule.git
[submodule "Lib/CsharpSQLite"]
	path = Lib/CsharpSQLite
	url = ../CsharpSQLite
[submodule "Lib/TimePicker"]
	path = Lib/TimePicker
	url = ../TimePicker.git
	branch = develop
